<h1>{{modoEdicion ? 'Editar' : 'Agregar'}} Turnos</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group"
         [ngClass]="{'text-danger': (formGroup.get('codigo').touched || formGroup.get('codigo').dirty) && !formGroup.get('codigo').valid }">
      <label class="col-md-2 control-label font-weight-bold"
             for="codigo">Código</label>

      <div class="col-md-8">
        <input class="form-control"
               id="codigo"
               type="text"
               required
               formControlName="codigo" [ngClass]="{'border-danger': (formGroup.get('codigo').touched || formGroup.get('codigo').dirty) && !formGroup.get('codigo').valid }" />
        <span class="help-block" *ngIf="(formGroup.get('codigo').touched || formGroup.get('codigo').dirty) && formGroup.get('codigo').errors">
          <span *ngIf="formGroup.get('codigo').errors.required">
            El campo Código es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'text-danger': (formGroup.get('descripcion').touched || formGroup.get('descripcion').dirty) && !formGroup.get('descripcion').valid }">
      <label class="col-md-2 control-label font-weight-bold"
             for="descripcionId">Descripción</label>

      <div class="col-md-8">
        <input class="form-control"
               id="descripcionId"
               type="text"
               required
               formControlName="descripcion" [ngClass]="{'border-danger': (formGroup.get('descripcion').touched || formGroup.get('descripcion').dirty) && !formGroup.get('descripcion').valid }" />
        <span class="help-block" *ngIf="(formGroup.get('descripcion').touched || formGroup.get('descripcion').dirty) && formGroup.get('descripcion').errors">
          <span *ngIf="formGroup.get('descripcion').errors.required">
            El campo Descripción es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'text-danger': (formGroup.get('letraRepresentacion').touched || formGroup.get('letraRepresentacion').dirty) && !formGroup.get('letraRepresentacion').valid }">
      <label class="col-md-4 control-label font-weight-bold"
             for="letraRepresentacion">Letra Representación</label>

      <div class="col-md-8">
        <input class="form-control"
               id="idTurno"
               type="text"
               required
               formControlName="letraRepresentacion" [ngClass]="{'border-danger': (formGroup.get('letraRepresentacion').touched || formGroup.get('letraRepresentacion').dirty) && !formGroup.get('letraRepresentacion').valid }" />
        <span class="help-block" *ngIf="(formGroup.get('letraRepresentacion').touched || formGroup.get('letraRepresentacion').dirty) && formGroup.get('letraRepresentacion').errors">
          <span *ngIf="formGroup.get('letraRepresentacion').errors.required">
            El campo Representación es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'text-danger': (formGroup.get('horaInicio').touched || formGroup.get('horaInicio').dirty) && !formGroup.get('horaInicio').valid }">
      <label class="col-md-4 control-label font-weight-bold"
              for="letraRepresentacion">Hora Inicio</label>
      <div class="col-md-2">
        <input class="form-control"
               id="horaInicio"
               type="time"
               required
               formControlName="horaInicio" [ngClass]="{'border-danger': (formGroup.get('horaInicio').touched || formGroup.get('horaInicio').dirty) && !formGroup.get('horaInicio').valid }" />
        <span class="help-block" *ngIf="(formGroup.get('horaInicio').touched || formGroup.get('horaInicio').dirty) && formGroup.get('horaInicio').errors">
          <span *ngIf="formGroup.get('horaInicio').errors.required">
            El campo hora inicio es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group" [ngClass]="{'text-danger': (formGroup.get('horaFin').touched || formGroup.get('horaFin').dirty) && !formGroup.get('horaFin').valid }">
      <label class="col-md-4 control-label font-weight-bold"
              for="letraRepresentacion">Hora Fin</label>
      <div class="col-md-2">
        <input class="form-control"
               id="horaFin"
               type="time"
               required
               formControlName="horaFin" [ngClass]="{'border-danger': (formGroup.get('horaFin').touched || formGroup.get('horaFin').dirty) && !formGroup.get('horaFin').valid }" />
        <span class="help-block" *ngIf="(formGroup.get('horaFin').touched || formGroup.get('horaFin').dirty) && formGroup.get('horaFin').errors">
          <span *ngIf="formGroup.get('horaFin').errors.required">
            El campo hora fin es requerido
          </span>
        </span>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary mr-2"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="btn btn-secondary"
                  [routerLink]='["/shift"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>
  </fieldset>
</form>

