<!-- <ng-template #content let-c="close" let-d="dismiss"> -->
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">{{title}}</h3>
      <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      <p style="color:black; white-space: pre-line;"class="font-weight-bolder">{{message}}</p> 
      <table class="table table-striped text-center mt-2" *ngIf="conflictItems && conflictItems.length">
        <thead>
          <tr>
            <th scope="col">Fecha Producción</th>
            <th scope="col">Proceso</th>
            <th scope="col">Módulo</th>
            <th scope="col">Turno</th>
            <th scope="col">Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of conflictItems">
            <td>{{schedule.fechaProduccion | date:'dd/MM/yyyy'}} </td>
            <td>{{schedule.process.descripcion}}</td>
            <td>{{schedule.module.descripcion}}</td>
            <td>{{schedule.shift.descripcion}}</td>
            <td>{{schedule.product.descripcion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn {{okBtnClass}}" (click)="ok('ok click')">{{btnOkText}}</button>
      <button type="button" class="btn btn-outline-dark ml-2" (click)="cancel()" *ngIf="hasCancelOption">{{btnCancelText}}</button>
    </div>
<!-- </ng-template> -->
